.menu{
    margin-top: 20%;
    margin-left: 10%;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--background-color);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-self: start;
}