/* Scrollbar.css */
.grab-scroll-container {
  cursor: grab; 
}

.flow-scroll-container {
  display: flex;
  gap: 20px;
  overflow-x: auto; 
  overflow-y: hidden;
  padding: 20px 40% 20px 40%; 
  height: 100%;
  scroll-snap-type: x proximity; 
  scroll-behavior: smooth;
}

.flow-product-wrapper {
  flex: 0 0 auto; 
  margin-left: 20%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  justify-content: start;
  display:flex;  
  
}
.flow-product-wrapper div{
    scroll-snap-align: center;
}

/* A sáv teljes szélessége/magassága */
.flow-scroll-container::-webkit-scrollbar {
  height: 150px; /* Vízszintesen ez a vastagsága */
  width: 12px;  
}

@media screen and (max-width: 768px){
    .flow-scroll-container {
    gap: 0px;
}
  .flow-product-wrapper {
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 50%;
}
}

