/* Scrollbar.css */

.flow-scroll-container {
  display: flex;
  gap: 20px;
  overflow-x: auto; 
  overflow-y: hidden;
  padding: 20px 40% 20px 40%; 
  
  scroll-snap-type: x proximity; 
  scroll-behavior: smooth;
}

.flow-product-wrapper {
  flex: 0 0 auto; 
  padding-left: 20%;
  padding-right: 20%;
  
  
}
.flow-product-wrapper div{
    scroll-snap-align: center;
  
  
}

/* A sáv teljes szélessége/magassága */
.flow-scroll-container::-webkit-scrollbar {
  height: 150px; /* Vízszintesen ez a vastagsága */
}

