/* Globális tároló */
.container.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lexend Exa', sans-serif;
  gap: 30px;
  min-height: 70vh;
  overflow-x: hidden; 
  touch-action: pan-y;
}

/* Üres kosár stílusa */
.empty-cart {
  justify-content: center;
  text-align: center;
  margin-bottom: 12.5%;
  margin-top: 7.5% ;
  font-size: large;
}

.back-button {
  font-family: 'Lexend Exa', sans-serif;
  text-decoration: none;
  background-color: var(--accent-color);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 15px;
}


.cart-blob {
  position: absolute;
  width: 30%;;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.3;
}

/* Lista tároló */
.cart-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* EGY DARAB TERMÉK KÁRTYÁJA */
.cart-item {
  position: relative;
  background-color: var(--background-color);
  width: 40%;
  max-width: 900px;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column; /* Mobilon egymás alá rakjuk az infókat */
  align-items: center;
  gap: 15px;
  box-shadow: var(--shadow-color) 0px 6px 12px -2px, var(--shadow-color2) 0px 3px 7px -3px;
}

/* Kép és alapinfók (Név, darabár) */
.cart-info {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.clickable {
  cursor: pointer;
  transition: color 0.2s ease;
}

.placeholder {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 0.8rem;
}

.cart-info h2 {
  font-size: 1rem;
  margin: 0;
}

.item-price {
  font-size: 0.8rem;
  opacity: 0.8;
  margin: 5px 0 0 0;
}

/* Gombok és darabszám */
.cart-controls {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(0,0,0,0.05);
  padding: 5px 15px;
  border-radius: 30px;
}

.cart-controls button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item button:active {
  transform: scale(0.9); /* Kattintáskor kicsit benyomódik */
}
.quantity {
  font-weight: bold;
  font-size: 1.1rem;
}

/* Az adott termék összesített ára (jobb szélre/alulra) */
.item-total {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--accent-color);
}

/* ÖSSZEGZŐ RÉSZ A LAP ALJÁN */
.cart-summary {
  width: 95%;
  max-width: 900px;
  padding: 20px;
  margin: 24px 0 40px 0;
  background-color: var(--navbar-color);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.total-amount {
  font-weight: 800;
  color: var(--accent-color);
}

.checkout-button {
  width: 100%;
  padding: 15px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: 'Lexend Exa', sans-serif;
  cursor: pointer;
  margin-bottom: 15px;
}
.checkout-button:active {
  transform: scale(0.99);
}
.checkout-button:hover {
  background-color: var(--accent-color);
}

.continue-shopping {
  justify-self: center;
   width: 60%;
  padding: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--secondary-text-color);

}

@media screen and (max-width: 768px) {

  .cart-item-image{
    width: 64px;
    height: 64px;
  }

  .cart-blob{
    width: 160%;
    top: -60px;
  }
  
  .cart-item {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .cart-controls {
    justify-content: center;

  }
  .cart-controls button{
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  .cart-summary{
    width: 95%;
  }

}