/* A fő tároló */
.swiper {
    width: 100%;
    max-width: 800px; /* Vagy amennyit szeretnél */
    margin: 0 auto;   /* Ez teszi magát a Swipert az oldal közepére */
    height: auto;
}

/* Ez az az osztály, amit a SwiperSlide-nak adsz */
.swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* A kép beállításai */
.swiperSlide img {
    position: block;
                 /* Régi jó módszer a kép középre rakására */
    max-width: 90%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {      

    .swiperSlide {
    height: 34vh;
    width: 100%;
}
.swiperSlide img {
    border-radius: 0px;
    width: 100%;
    position: relative;
}



}