/* A fő tároló */
.swiper {
    width: 100%;
    max-width: 800px; /* Vagy amennyit szeretnél */
    margin: 0 auto;   /* Ez teszi magát a Swipert az oldal közepére */
    height: auto;
}

/* Ez az az osztály, amit a SwiperSlide-nak adsz */
.swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* A kép beállításai */
.swiperSlide img {
   
    position: block;
    max-width: 90vh;
    height: auto;
    object-fit: contain;
    border-radius: 50% 20% / 10% 40%;
}

@media screen and (max-width: 768px) {      

    .swiperSlide {
    height: 34vh;
    width: 100%;
}
.swiperSlide img {
     position: relative;
    border-radius: 0px;
     left: -3.5%;
     top: -3%;
     width: 70vh;
}



}