/* A fő tároló */
.swiper {
    width: 100%;
    max-width: 800px; /* Vagy amennyit szeretnél */
    margin: 0 auto;   /* Ez teszi magát a Swipert az oldal közepére */
    height: auto;
}

/* Ez az az osztály, amit a SwiperSlide-nak adsz */
.swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* A kép beállításai */
.swiperSlide img {
    position: block;
    margin: 0 auto;                 /* Régi jó módszer a kép középre rakására */
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: "50% 20% / 10% 40%";
}