.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: "Outfit", sans-serif;

}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 30vw;
  min-height: 35vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5%;
  gap: 5vh;
  margin-top: 4%;
}

.register-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-container input{
 position: relative;
 cursor: text;
 font-size: 14px;
 line-height: 20px;
 padding: 0 16px;
 height: 48px;
 background-color: #fff;
 border: 1px solid #d6d6e7;
 border-radius: 3px;
 color: rgb(35, 38, 59);
 box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
 overflow: hidden;
 transition: all 100ms ease-in-out;
 :focus {
     border-color: #3c4fe0;
     box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
 }
}  

.register-button {
 
 display: inline-block;
 outline: none;
 cursor: pointer;
 font-size: 14px;
 line-height: 1;
 border-radius: 500px;
 transition-property: background-color,border-color,color,box-shadow,filter;
 transition-duration: .3s;
 border: 1px solid transparent;
 letter-spacing: 2px;
 min-width: 160px;
 text-transform: uppercase;
 white-space: normal;
 font-weight: 700;
 text-align: center;
 padding: 17px 48px;
 color: #fff;
 background-color: #1e65d7;
 height: 48px;
 :hover{
     transform: scale(1.04);
     background-color: #217ae0;
 }
                
}
@media (max-width: 768px) {
  .register-container {
    box-shadow: none;
  }
}